@page
@model PrototypeApi.Pages.MostPostModel

@{
    ViewData["Title"] = "MostPost";
}

<h1>MostPost</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Most posting person
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserPosts) {
        <tr>
            <td>
                <h1>@item.FirstName @item.LastName</h1>
            </td>
            <td>
                <a asp-page="./mostpost" asp-route-sortOrder="@Model.DateSort">@Html.DisplayNameFor(model => model.Posts[0].CreationDate)</a>
            </td>
        </tr>
        @foreach(var post in Model.Posts)
        {
            @if(item.Id == post.UserId)
            {
                <tr>
                    <td>
                        @post.Content
                    </td>
                    <td>
                        @post.CreationDate
                    </td>

                </tr>
            }
        }


}
    </tbody>
</table>
